*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
h1{
    font-size: 40px;
    color: #4D4D4D;
    text-align: center;
    margin: 20px;
}
.logo{
    width: 400px;
    margin: 20px;
}
.contenuto-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenuto-img .arrow{
    font-size: 50px;
    color: black;
    margin: 20px;
}
.contenuto-img .arrow:hover{
    color: #F6A934;
}
.immagine{
    height: 500px;
    width: 650px;
    border-radius: 5px;
}
.img{
    position: relative;
}
.circle{
    position: absolute;
    bottom: 30px;
    right: 250px;
    cursor: pointer;
}
.circle-img{
    width: 30px;
    color: rgb(250, 241, 217);
}
.active{
    color: #F6A934;
}